body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


/* header구간 */
.topbar {
  display: flex;
}

.topbar > .dropmenu > ul {
  display: flex;
  width: 700px;
  justify-content: space-around;
}

.topbar > .home {
  display: inline-block;
}

.topbar > .home > a {
  display: block;
  padding: 30px 50px;
}

.topbar > .dropmenu > ul > li > a {
  display: block;
  padding: 30px ;  
}

/* main 구간 */
.main_grid {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main_grid > * {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.main_grid p {
  text-align: center;
}
